
header {
	box-sizing: border-box;
	height: 100px;
	padding: 20px;
	color: #333;
}
footer {
	box-sizing: border-box;
	height: 50px;
	line-height: 50px;
	padding-left: 20px;
}
main {
	min-height: calc(100vh - 100px - 50px);
}

.form-item {
	margin-top: 10px;
}
.error-message {
	font-size: 12px;
	color: #f22b19;
}
.hidden {
	display: none;
}

/* shared styles */

button, input[type=submit] {
	padding: 4px 8px;
	color: #2F4858;
	cursor: pointer;
}
a {
	color: #33658A;
}

/* colors */
.bg-1 {
	background-color: #2F4858;
}
.bg-2 {
	background-color: #33658A;
}
.bg-3 {
	background-color: #86BBD8;
}
.bg-4 {
	background-color: #F6AE2D;
}
.bg-5 {
	background-color: #F26419;
}
.bg-6 {
	background-color: #333333;
}

.color-1 {
	color: #ffffee;
}
.color-2 {
	color: #333333;
}

/* layout */
.content {
	margin: auto;
	max-width: 1000px;
}
.pd-20 {
	padding: 20px;
}
.pd-top-80 {
	padding-top: 80px;
}